:root {
    --primary: #057D5F;
    --secondary: #666;
    --black: #222;
}

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 19px;
}
body {
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-weight: 400;
    line-height: 1.4;
    color: var(--black);
}

a {
    color: var(--primary);
    text-decoration: none;
}
    a:hover {
        color: #111;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.3;
    margin: 45px 0 30px 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    margin: 0.5rem 0 1.1rem 0;
}

hr {
    background: #ddd;
    border: 0;
    height: 1px;
    margin: 45px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}
    th, td {
        padding: 10px 20px;
        text-align: left;
        vertical-align: top;
    }
    th {
    }
    td {
        background: #fff;
        border: 1px solid #ddd;
    }

code {
    padding: 2px 7px;
    border-radius: 3px;
    line-height: 1;
}
    pre {
        border-radius: 10px;
        max-width: 95vw;
        padding: 15px;
        overflow: scroll;
    }
    pre code {
        display: block;
        max-height: 70vh;
        line-height: 1.4;
    }
    code:not(pre code) {
        background: #DBF2EC;
        display: inline-block;
        font-size: .8em;
        color: #057d5f;
    }
sup a {
    text-decoration: none;
    padding: 0;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #aaa;
    width: 100%;
}
button {
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

ul.flat {
    list-style-type: none;
    padding: 0;
}
    ul li {
        margin-bottom: 10px;
    }

button, .button {
    background: var(--black);
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 30px;
    border: 0;
}
    button:hover,
    .button:hover {
        background: var(--primary);
        color: #fff;
    }

.main {
    margin-top: 45px;
    margin-bottom: 30px;
}

.dim-small {
    font-size: 0.875rem;
    color: #888;
}

.header {
    margin-bottom: 10vh;
}
    .header .nav {
        text-align: right;
    }
    .header .nav a {
        margin-left: 30px;
        text-decoration: none;
    }

    #nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        display: none;
        cursor: pointer;
    }

.logo img {
    max-height: 54px;
}

.intro {
    margin: 15vh 0 60px 0;
}
    .intro .title {
        font-size: 2.5rem;
        line-height: 1.3;
        margin: 0 0 30px 0;
    }
    .intro h2 {
        margin: 0 0 30px 0;
    }
    .partner img {
        display: block;
        width: 75px;
        margin-top: 15px;
    }
    .definition ul {
        padding: 0 0 0 15px;
    }
    .intro .name span {
        color: var(--primary);
    }
    .intro code {
        padding: 0;
        background: none;
    }

.has-toc {
    display: flex
}
    .has-toc .container {
        margin-left: 0;
        margin-right: 0;
    }
.toc {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 15px 30px 15px 15px;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100vh;
    margin-right: 30px;
}
    .toc ul {
        padding-inline-start: 30px;
    }
    .toc li {
        padding-left: 0px;
    }


.footer {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin: 10vh 0 15px 0;
    color: var(--secondary);
    font-size: 0.875rem;
}
    .footer a {
        text-decoration: none;
    }

.posts-list {
    list-style-type: none;
    padding: 0;
}
    .posts-list .meta {
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding-top: 30px;
        font-size: 0.875rem;
    }
    .posts-list .date {
        text-align: right;
        color: #888;
    }
    .posts-list li {
        margin-bottom: 90px;
    }

    .posts-list .title {
        margin: 0 0 20px 0;
    }

.post .title {
    margin: 0 0 15px 0;
}
    .post .date {
        margin-bottom: 30px;
    }
    .post .title a {
        text-decoration: none;
    }
    .post .date {
        color: #888;
    }

.avatar {
    font-size: 0.875rem;
    display: flex;
}
    .avatar img {
        border-radius: 100%;
        max-width: 52px;
    }
    .avatar div:first-child {
        flex-basis: 75px;
        flex-grow: 0;
    }
    .avatar div:last-child {
        flex-grow: 1;
    }
    .avatar .title {
        color: #888;
        display: block;
    }
    .avatar .links {
        margin-top: 10px;
    }
    .avatar .links img {
        opacity: 0.4;
        max-height: 20px;
        margin-right: 5px;
    }

    .main-post .avatar {
        margin-top: 85px;
        position: sticky;
        top: 30px;
    }


@media (max-width: 800px) {
    .main {
        margin: 15px 0;
    }
    .header .nav a {
        margin: 0 0 10px 0;
        display: block;
    }
   .nav-toggle-label {
        display: block;
        padding: 0 0 0 15px;
        position: relative;
        font-size: 1.3rem;
    }
    .header .nav .items {
        display: none;
        position: absolute;
        background: rgba(255,255,255,0.95);
        left: 0;
        right: 35px;
        padding: 0px;
        z-index: 100;
        top: 70px;
    }
    #nav-toggle:checked ~ .items {
        display: block !important;
    }

    .header {
        margin-bottom: 45px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .main-post .avatar {
        margin: 0;
    }
}